<div class="title"> <h1>Benvenuto nella Homepage</h1></div>
<div class="homepage">
  <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
<div>
      <p> Tempore facere perferendis omnis neque id tempora nobis excepturi voluptatum eligendi quasi ullam, in commodi et minima soluta nemo. Libero, suscipit ipsa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officia quidem quasi accusamus laborum ipsum libero ex, velit necessitatibus, nam consectetur molestiae repudiandae impedit voluptatum deserunt neque, ad quo eum.</p>

</div>

  </mat-grid-tile>

    <mat-grid-tile>

      <img src="../../../assets/img/computer-ge4e71b6d4_1280.jpg" alt="">

    </mat-grid-tile>

  </mat-grid-list>

    <mat-grid-list cols="2" column-width="3:1" rowHeight="2:1">
    <mat-grid-tile>

      <img src="../../../assets/img/business-g51ca33f6f_1280.jpg" alt="">
    </mat-grid-tile>


    <mat-grid-tile>
<div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe qui, minus totam autem at culpa reiciendis deserunt tempore sint amet repudiandae odio neque. Quas eaque molestias deleniti debitis quasi quia.lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aspernatur iusto accusantium et, deserunt quis facere eius inventore, rerum totam tempore! Rem itaque soluta, expedita modi aliquam sint quidem fuga!</p>

</div>
    </mat-grid-tile>
</mat-grid-list>
</div>

<div>>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
<div>
  <img src="../../../assets/img/grain-ge15d93bf1_1280.jpg" alt="">

</div>

  </mat-grid-tile>

    <mat-grid-tile>

      <img src="../../../assets/img/pineapple-g7a5d55134_1280.jpg" alt="">

    </mat-grid-tile>

    <mat-grid-tile>

      <img src="../../../assets/img/globe-g3f3d60dc0_1280.jpg" alt="">

    </mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
  <div>
        <p> Tempore facere perferendis omnis  in commodi et minima soluta nemo. Libero, suscipit ipsa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officia quidem quasi accusamus laborum ipsum libero ex, velit necessitatibus, nam consectetur molestiae repudiandae impedit voluptatum deserunt neque, ad quo eum.</p>

  </div>

    </mat-grid-tile>

      <mat-grid-tile>

        <div>
          <p> ommodi et minima soluta nemo. Libero, suscipit ipsa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officia quidem quasi accusamus laborum ipsum libero ex, velit necessitatibus, nam consectetur molestiae repudiandae impedit voluptatum deserunt neque, ad quo eum.</p>

    </div>
      </mat-grid-tile>

      <mat-grid-tile>

        <div>
          <p> Tempore facere perferendis omnis nequeque, Tempore facere perferendis gendi quasi ullam, in cad quo eum.</p>

    </div>
      </mat-grid-tile>

    </mat-grid-list>
</div>


