<h1>Contact Page</h1>
<div class="contatti">
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
<div>
      <h3>WORK IN PROGRESS</h3> <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat nihil explicabo earum inventore voluptas sit magni ipsa magnam placeat, voluptatum dolorem tempora assumenda soluta? Impedit eius iusto a quibusdam!</p>

</div>

  </mat-grid-tile>

    <mat-grid-tile>

      <img src="../../assets/img/SeekPng.com_work-in-progress-png_1379498.png" width="50%" alt="">

    </mat-grid-tile>

  </mat-grid-list>

</div>

