
<mat-card>
  <h1>Login Page</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-form" appearance="legacy">
    <mat-label>Inserisci Email</mat-label>
    <input matInput type="email" ngModel name="email" id="email" placeholder="example@example.com">
  </mat-form-field> <br>
  <mat-form-field class="example-form" appearance="legacy">
    <mat-label>Inserisci Password</mat-label>
    <input matInput type="password" class="example-full-width" ngModel name="password" id="password" placeholder="123abc!@">
  </mat-form-field><br>
  <button type="submit" mat-raised-button color="primary" >Accedi</button>
   <div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>
</form>
</mat-card>
<!-- <div class="box-container"> -->

<!-- </div> -->


