
    <div >
  <div class="linkini">
    <a  href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a  href="#" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</a>
    <a  href="#" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
    <a type="button"  [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
    <button mat-flat-button  color = "accent">
      <a type="button"  [routerLink]="['/signup']" routerLinkActive="router-link-active">Signup</a>
    </button>
    <button mat-flat-button  color="warn" type="button"  (click)="logout()">Logout</button>
  </div>
</div>


